@page "/"
@rendermode InteractiveServer

<div>
  @*   <iframe width="100%" height="600px" src="http://localhost:5150/" scrolling="no" target="_parent" frameborder="0" allowfullscreen>
    </iframe> *@
</div>