@page "/"
@using BlazorBootstrapService.Components 

<Container>
    <Row>
        <Col>
            <h1>Домашняя страница</h1>
    </Row>
    <Row>
        <Col Col="12" Sm="6" Md="4">
            <Card>
                <CardHeader> 1</CardHeader>
                <CardBody>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </CardBody>
            </Card>
        <Col Col="12" Sm="6" Md="4">
            <Card>
                <CardHeader>2</CardHeader>
                <CardBody>
                    <p>Vestibulum volutpat urna et tortor congue cursus.</p>
                </CardBody>
            </Card>
        <Col Col="12" Md="4">
            <Card>
                <CardHeader>3</CardHeader>
                <CardBody>
                    <p>Maecenas vitae magna neque. Etiam nec eros interdum lorem viverra rhoncus eget nec purus.</p>
                </CardBody>
            </Card>
    </Row>
    <Row>
        <Col>
            <Card>
                <CardHeader>Дополнительная информация</CardHeader>
                <CardBody>
                    <p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum volutpat urna et tortor congue cursus. Maecenas vitae magna neque. Etiam nec eros interdum lorem viverra rhoncus eget nec purus. Sed vehicula eros a neque luctus dictum. Proin ut pellentesque tortor. Aliquam dapibus turpis sit amet ex viverra, in tincidunt dui venenatis. Duis quis nisi ac risus vulputate dignissim. In id nisl est. Suspendisse sapien erat, luctus a venenatis at, imperdiet sed urna. Morbi sem elit, egestas ut commodo in, fermentum mattis eros. Vivamus luctus quis lorem a venenatis. Morbi maximus, eros eu gravida ultrices, ligula sem varius arcu, congue dignissim diam risus sed libero. Integer nulla risus, dictum non pretium in, fermentum vitae nunc. Pellentesque mollis sem aliquam magna porttitor, non pulvinar nisl auctor. Sed mollis lorem a tellus congue, a porta ipsum ultricies. Vestibulum convallis quam a volutpat accumsan. </p>
                </CardBody>
            </Card>
    </Row>
</Container>
